# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Android/Gradle
.gradle/
android/.gradle/
android/local.properties

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
